@mixin input_styles {
  transition: 0.3s;

  &:hover {
    border: #001a3d solid 1px;
  }

  &:focus {
    box-shadow: 0 0 5px #001a3d;
    border: #001a3d solid 1px;
    outline: none;
  }
}

.mainLogin {
  display: flex;
}

.containerFoto {
  width: 65%;
  height: 100vh;
  background-image: url("../../assets/Tela_Login/navio_cargueiro_com_containers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerDados {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .divLogo {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    margin-bottom: 1rem;

    img {
      width: 30%;
    }

    h1 {
      width: 45%;
      font-size: 2rem;
      text-align: center;
    }
    p {
      color: blue;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  form {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    input {
      height: 4vh;
      width: 15vw;
      padding-left: 1rem;
      @include input_styles;
    }

    a {
      all: unset;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .divButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    button {
      width: 5vw;
      height: 4vh;
      border-radius: 6px;
      font-size: 1rem;

      background-color: #00bedd;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #001a3d;
        color: white;
      }
    }
  }
}
